<p-panel header="panel" [toggleable]="true">
    <div style="padding: 2rem;">
        <form [formGroup]="frmSampleContent">

            <div style="padding-bottom: 0.5rem;">
                <span class="p-float-label">
                    <input pInputText id="username" [(ngModel)]="value" formControlName="userIdFormControl"/>
                    <label htmlFor="username">Username</label>
                </span>
            </div>

            <p-dropdown [options]="heros" [(ngModel)]="selectedHero" optionLabel="name" placeholder="Select you fav hero"
                formControlName="ddHero" [showClear]="true">
                <ng-template let-item pTemplate="item">
                    {{ item.code }}: {{ item.name }}
                </ng-template>
            </p-dropdown>



        </form>
        <div style="padding-top: 2rem;">
            You have selected: {{selectedHero?.name | json}}
        </div>
    </div>
</p-panel>


